Repository moss-foundation/moss, pull requests merged in 2024-12, with the labels that each got.

#162 chore(MOSSMVP-298): Improving makefile
  Makefile
Labels: improvement, makefile

#171 chore(MOSSMVP-291): Set up Github Action for rust tests
  .github/cache/dummy.txt
  .github/dependabot.yml
  .github/workflows/ci.yml
  crates/moss-jsonlogic/src/raw_rule.rs
  crates/moss-text/src/fmt.rs
  crates/moss-text/src/localized_string.rs
  internal/platform/configuration/src/configuration_model.rs
  internal/platform/configuration/src/configuration_registry.rs
  tools/xtask/src/tasks/rust_workspace_audit.rs
  view/desktop/bin/src/cli.rs
  view/desktop/bin/src/plugins/tauri_mac_window.rs
  view/desktop/bin/src/window.rs
Labels: github_actions

#203 perf(MOSSMVP-308): Backend compilation process optimization
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  Makefile
  internal/workbench/desktop/Cargo.toml
  internal/workbench/desktop/src/window.rs
  view/desktop/bin/Cargo.toml
  view/desktop/bin/src/lib.rs
  view/desktop/bin/src/utl.rs
Labels: dependencies, rust

#206 refactor(MOSSMVP-312): JSON Theme improvements and refactoring
  .github/workflows/auto-assign.yml
  .github/workflows/ci.yml
  .github/workflows/git-cliff.yml
  .gitignore
  .prettierrc
  .vscode/settings.json
  @typespec/json-schema/Theme.json
  Cargo.lock
  Cargo.toml
  Makefile
  crates/moss-theme/Cargo.toml
  crates/moss-theme/main.tsp
  crates/moss-theme/package.json
  crates/moss-theme/src/lib.rs
  crates/moss-theme/tspconfig.yaml
  crates/moss-themeconv/Cargo.toml
  crates/moss-themeconv/src/json_converter.rs
  crates/moss-themeconv/src/jsonschema_validator.rs
  crates/moss-themeconv/src/lib.rs
  crates/moss-uikit/bindings/primitives.ts
  internal/workbench/desktop/models/bindings/actions.ts
  internal/workbench/desktop/models/schema/ThemeSchema.json
  internal/workbench/desktop/models/schema/TypeSpec.tsp
  internal/workbench/desktop/models/schema/test.json
  internal/workbench/desktop/models/src/lib.rs
  internal/workbench/desktop/models/src/theme.rs
  misc/themeinstall/.gitignore
  misc/themeinstall/src/main.rs
  package.json
  pnpm-lock.yaml
  tools/themegen/src/index.ts
  tools/xtask/src/main.rs
  tools/xtask/src/tasks/rust_workspace_audit.rs
  view/desktop/bin/src/commands/cmd_window.rs
  view/desktop/bin/src/window.rs
  view/desktop/src/parts/StatusBar/StatusBar.tsx
Labels: makefile, jsonschema

#208 refactor(MOSSMVP-319): Improve themegen utility
  Makefile
  tools/themegen/src/color.ts
  tools/themegen/src/index.ts
  tools/themegen/src/themes/moss-dark.ts
  tools/themegen/src/themes/moss-light.ts
  tools/themegen/src/themes/moss-pink.ts
Labels: makefile

#211 docs(MOSSMVP-300): Automated docs update pipeline
  .github/labeler.yml
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
Labels: github_actions, makefile

#228 feat(MOSSMVP-333): Optimization of the theme switching process
  Cargo.lock
  Cargo.toml
  Makefile
  crates/moss-cache/Cargo.toml
  crates/moss-cache/src/backend.rs
  crates/moss-cache/src/backend/moka.rs
  crates/moss-cache/src/lib.rs
  crates/moss-desktop/Cargo.toml
  crates/moss-desktop/bindings/appearance.ts
  crates/moss-desktop/bindings/application.ts
  crates/moss-desktop/bindings/window.ts
  crates/moss-desktop/index.ts
  crates/moss-desktop/src/contributions/layout_controls.rs
  crates/moss-desktop/src/contributions/workbench.rs
  crates/moss-desktop/src/lib.rs
  crates/moss-desktop/src/models/appearance.rs
  crates/moss-desktop/src/models/application.rs
  crates/moss-desktop/src/models/mod.rs
  crates/moss-desktop/src/models/view.rs
  crates/moss-desktop/src/models/window.rs
  crates/moss-desktop/src/services/mod.rs
  crates/moss-desktop/src/services/theme_service.rs
  crates/moss-desktop/src/state.rs
  crates/moss-theme/Cargo.toml
  view/desktop/bin/Cargo.toml
  view/desktop/bin/src/commands/cmd_window.rs
  view/desktop/bin/src/lib.rs
  view/desktop/src/api/appearance/index.ts
  view/desktop/src/app/ThemeProvider.tsx
  view/desktop/src/lib/backend/tauri.ts
  view/desktop/src/pages/LogsPage.tsx
Labels: rust, improvement, makefile

#225 feat(MOSSMVP-109): Frontend Configuration of test execution in CI pipelines
  .github/workflows/ci.yml
  package.json
  packages/moss-ui/src/Badge.stories.tsx
  pnpm-lock.yaml
  view/desktop/package.json
  view/desktop/src/components/Resizable.stories.tsx
  view/desktop/src/parts/StatusBar/StatusBar.stories.ts
  view/storybook/.storybook/preview.tsx
  view/storybook/.storybook/vitest.setup.ts
  view/storybook/package.json
  vitest.workspace.ts
Labels: github_actions

#235 feat(MOSSMVP-328): Preparation for extension integration
  Cargo.lock
  Cargo.toml
  Makefile
  addons/.gitkeep
  addons/theme-defaults/Moss.toml
  addons/theme-defaults/package.json
  addons/theme-defaults/src/color.ts
  addons/theme-defaults/src/index.ts
  addons/theme-defaults/src/themes/moss-dark.ts
  addons/theme-defaults/src/themes/moss-light.ts
  addons/theme-defaults/src/themes/moss-pink.ts
  addons/theme-defaults/themes/moss-dark.css
  addons/theme-defaults/themes/moss-light.css
  addons/theme-defaults/themes/moss-pink.css
  addons/theme-defaults/tsconfig.app.json
  addons/theme-defaults/tsconfig.json
  addons/theme-defaults/tsconfig.node.json
  crates/moss-addon/Cargo.toml
  crates/moss-addon/src/lib.rs
  crates/moss-addon/src/manifest.rs
  crates/moss-desktop/Cargo.toml
  crates/moss-desktop/src/addon_registry.rs
  crates/moss-desktop/src/app/lifecycle.rs
  crates/moss-desktop/src/app/mod.rs
  crates/moss-desktop/src/app/service.rs
  crates/moss-desktop/src/app/state.rs
  crates/moss-desktop/src/app/subscription.rs
  crates/moss-desktop/src/command.rs
  crates/moss-desktop/src/contribution_collector.rs
  crates/moss-desktop/src/contributions/workbench.rs
  crates/moss-desktop/src/lib.rs
  crates/moss-desktop/src/models/application.rs
  crates/moss-desktop/src/services.rs
  crates/moss-desktop/src/services/addon_service.rs
  crates/moss-desktop/src/services/theme_service.rs
  view/desktop/bin/Cargo.toml
  view/desktop/bin/src/commands/cmd_base.rs
  view/desktop/bin/src/commands/cmd_window.rs
  view/desktop/bin/src/lib.rs
  view/desktop/bin/src/plugins.rs
  view/desktop/bin/src/plugins/app_formation.rs
  view/desktop/bin/src/plugins/mac_window.rs
  view/desktop/bin/src/utl.rs
Labels: makefile
