Repository moss-foundation/moss, pull requests merged in 2025-01, with the labels that each got.

#237 ci(MOSSMVP-345): Cross-platform Rust CI Test
  .github/workflows/ci.yml
  Cargo.toml
Labels: github_actions

#249 chore(MOSSMVP-357): [DevOps] Fix the issue with auto-assigning PRs created by Dependabot
  .github/workflows/auto-assign.yml
Labels: github_actions

#236 feat(MOSSMVP-350): A custom Tauri application builder
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  crates/moss-addon/src/lib.rs
  crates/moss-collection/Cargo.toml
  crates/moss-collection/src/extending.rs
  crates/moss-desktop/Cargo.toml
  crates/moss-desktop/src/app/instantiation.rs
  crates/moss-desktop/src/app/lifecycle.rs
  crates/moss-desktop/src/app/manager.rs
  crates/moss-desktop/src/app/mod.rs
  crates/moss-desktop/src/app/service.rs
  crates/moss-desktop/src/app/state.rs
  crates/moss-desktop/src/app/subscription.rs
  crates/moss-desktop/src/contribution_collector.rs
  crates/moss-desktop/src/contribution_registry.rs
  crates/moss-desktop/src/lib.rs
  crates/moss-desktop/src/services.rs
  crates/moss-desktop/src/services/addon_service.rs
  crates/moss-desktop/src/services/lifecycle_service.rs
  crates/moss-desktop/src/services/theme_service.rs
  crates/moss-desktop/src/services/window_service.rs
  crates/moss-tauri/Cargo.toml
  crates/moss-tauri/src/lib.rs
  view/desktop/bin/Cargo.toml
  view/desktop/bin/src/commands/cmd_window.rs
  view/desktop/bin/src/lib.rs
  view/desktop/bin/src/menu.rs
  view/desktop/bin/src/plugins.rs
  view/desktop/bin/src/plugins/app_formation.rs
Labels: github_actions

#250 feat(MOSSMVP-359): Runtime transformation into CSS with preferences
  .gitignore
  Cargo.lock
  Cargo.toml
  Makefile
  addons/theme-defaults/Moss.toml
  addons/theme-defaults/package.json
  addons/theme-defaults/src/index.ts
  addons/theme-defaults/themes/dark-default.json
  addons/theme-defaults/themes/light-default.json
  crates/moss-desktop/Cargo.toml
  crates/moss-desktop/bindings/application.ts
  crates/moss-desktop/index.ts
  crates/moss-desktop/src/app/state.rs
  crates/moss-desktop/src/command.rs
  crates/moss-desktop/src/contributions/workbench.rs
  crates/moss-desktop/src/models/actions.rs
  crates/moss-desktop/src/models/appearance.rs
  crates/moss-desktop/src/models/application.rs
  crates/moss-desktop/src/models/mod.rs
  crates/moss-desktop/src/services/addon_service.rs
  crates/moss-desktop/src/services/theme_service.rs
  crates/moss-html/Cargo.toml
  crates/moss-theme/Cargo.toml
  crates/moss-theme/bindings/theme.ts
  crates/moss-theme/build.rs
  crates/moss-theme/importer.py
  crates/moss-theme/index.ts
  crates/moss-theme/package.json
  crates/moss-theme/src/conversion.rs
  crates/moss-theme/src/conversion/json_converter.rs
  crates/moss-theme/src/conversion/jsonschema_validator.rs
  crates/moss-theme/src/conversion/util.rs
  crates/moss-theme/src/lib.rs
  crates/moss-theme/src/models/mod.rs
  crates/moss-theme/src/models/theme.rs
  crates/moss-themeconv/src/lib.rs
  crates/moss-themeconv/src/util.rs
  misc/themeinstall/src/main.rs
  pnpm-lock.yaml
  view/desktop/bin/src/commands/cmd_base.rs
  view/desktop/bin/src/commands/cmd_window.rs
  view/desktop/bin/src/lib.rs
  view/desktop/src/api/appearance/index.ts
Labels: makefile

#251 refactor(MOSSMVP-364): Removal of all deprecated components following the implementation of the addons mechanism
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  Makefile
  addons/theme-defaults/package.json
  addons/theme-defaults/src/themes/moss-dark.ts
  addons/theme-defaults/src/themes/moss-light.ts
  addons/theme-defaults/src/themes/moss-pink.ts
  addons/theme-defaults/themes/moss-dark.css
  addons/theme-defaults/themes/moss-light.css
  addons/theme-defaults/themes/moss-pink.css
  addons/theme-defaults/tsconfig.app.json
  addons/theme-defaults/tsconfig.json
  cli/src/cli.rs
  crates/moss-desktop/Cargo.toml
  crates/moss-desktop/src/lib.rs
  crates/moss-theme/src/conversion/json_converter.rs
  crates/moss-theme/tsconfig.json
  crates/moss-themeconv/Cargo.toml
  crates/moss-themeconv/LICENSE-MIT
  crates/moss-themeconv/src/json_converter.rs
  crates/moss-themeconv/src/jsonschema_validator.rs
  crates/moss-themeconv/src/lib.rs
  crates/moss-themeconv/src/util.rs
  crates/moss-themeconv/tests/light-theme.test.json
  misc/themeinstall/.gitignore
  misc/themeinstall/Cargo.toml
  misc/themeinstall/LICENSE-MIT
  misc/themeinstall/src/main.rs
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/themegen/package.json
  tools/themegen/src/color.ts
  tools/themegen/src/index.ts
  tools/themegen/src/themes/moss-dark.ts
  tools/themegen/src/themes/moss-light.ts
  tools/themegen/src/themes/moss-pink.ts
  tools/themegen/tsconfig.app.json
  tools/themegen/tsconfig.json
  tools/themegen/tsconfig.node.json
  tools/xtask/config.toml
  tsconfig.json
  view/desktop/bin/Cargo.toml
  view/desktop/bin/src/commands/cmd_window.rs
  view/desktop/bin/src/lib.rs
  view/desktop/bin/src/window.rs
  view/desktop/src/lib/backend/tauri.ts
Labels: makefile

#254 ci(MOSSMVP-368): Minor CI improvements
  .github/workflows/ci.yml
  addons/theme-defaults/src/color.ts
  addons/theme-defaults/src/index.ts
  addons/theme-defaults/src/themes/dark.ts
  addons/theme-defaults/src/themes/light.ts
  addons/theme-defaults/src/themes/moss-pink.ts
  addons/theme-defaults/themes/dark-default.json
Labels: github_actions

#234 chore(MOSSMVP-348): Automation of JSON schema generation and integration
  .github/labeler.yml
  .github/workflows/docs.yml
  CONTRIBUTING.md
  Makefile
  assets/schemas/Theme.json
Labels: github_actions, makefile

#264 feat(MOSSMVP-338): Integration and PoC for configurations
  Cargo.lock
  Cargo.toml
  Makefile
  assets/schemas/Configuration.json
  crates/moss-configuration/Cargo.toml
  crates/moss-configuration/index.ts
  crates/moss-configuration/main.tsp
  crates/moss-configuration/package.json
  crates/moss-configuration/src/default_configuration.rs
  crates/moss-configuration/src/lib.rs
  crates/moss-configuration/tsconfig.json
  crates/moss-configuration/tspconfig.yaml
  crates/moss-desktop/Cargo.toml
  crates/moss-desktop/contributions/main.hcl
  crates/moss-desktop/src/lib.rs
  crates/moss-desktop/src/services.rs
  crates/moss-desktop/src/services/configuration_service.rs
  crates/moss-extension-point/Cargo.toml
  crates/moss-extension-point/src/lib.rs
  crates/moss-extension-point/src/loader.rs
  crates/moss-extension-point/src/module/extends.rs
  crates/moss-extension-point/src/module/mod.rs
  crates/moss-extension-point/src/registry.rs
  crates/moss-theme/main.tsp
  pnpm-lock.yaml
  tsconfig.json
  view/desktop/bin/Cargo.toml
  view/desktop/bin/src/lib.rs
Labels: makefile
